body    {
    background-color: darkslategray;
}
h1  {
    color: wheat;
    text-align: center;
} 
p {
    color: wheat;
} 
table, th, td {
    box-align: middle;
    border-collapse: collapse;
  }
  th, td {
    color: wheat;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 80px;
  }